In [1]:
# setup
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt 
import requests
import calendar
import geopandas as gpd
import os.path as os
import scipy.stats
import seaborn.palettes
import seaborn.utils
import sys
from census import Census
from us import states
import http.client, urllib.request, urllib.parse, urllib.error, base64
import config

root= r"C:/Users/Jennah/Desktop/Code/machine-learning-final"
inp= os.join(root, "data", "1_raw")
out= os.join(root, "data", "2_intermediate")

In [47]:
import psycopg2 as psy
# load furman db
connection = psy.connect(
    host="fcdata.c7h93yqbqnvu.us-east-1.rds.amazonaws.com",
    port=5432,
    user = "furmandata",
    password = config.furman_pwd,
    database = "fcdata")
cursor = connection.cursor()

In [49]:
## load pluto data as points
pluto= gpd.GeoDataFrame.from_postgis("""SELECT bbl, 
                                               tract2010,
                                               geom_point FROM mappluto_21v3
                                        WHERE landuse IN ('01', '02', '03', '04')""", connection,
                                    geom_col = "geom_point")

In [8]:
from pydrive.auth import GoogleAuth

gauth = GoogleAuth()
gauth.LocalWebserverAuth() # Creates local webserver and auto handles authentication.

Your browser has been opened to visit:

    https://accounts.google.com/o/oauth2/auth?client_id=570719947456-53haph7mjc317oel1ujh0kmjbfd499jf.apps.googleusercontent.com&redirect_uri=http%3A%2F%2Flocalhost%3A8080%2F&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive&access_type=offline&response_type=code

Authentication successful.

In [9]:
from pydrive.drive import GoogleDrive
drive = GoogleDrive(gauth)
fileList = drive.ListFile({'q': "'1kiYbPtSYavHQKzyMWtXaLhP-JM2toXRm' in parents and trashed=false"}).GetList()
for file in fileList:
  print('Title: %s, ID: %s' % (file['title'], file['id']))
  # Get the folder ID that you want
  if(file['title'] == "To Share"):
      fileID = file['id']

Title: fire_box_sum.csv, ID: 1zYSWlWtgNWsruaEkSSCqyXHIIdq7BEAP
Title: acs_2009_2019.csv, ID: 17PvjIPesTzugausfzMi7rTiXahTiHaH1
Title: census_acs, ID: 1DjJ3pOLAo4MOpgmeNPSXJbRzF_S10fDM
Title: weighted_borobox.csv, ID: 1H8yM7UH14YdMqi5ASjHMd_dwA4C7-lKe
Title: pluto_borobox.csv, ID: 1Yf4xIIOBmKU2WIlImat8qaN3z2L239Nw
Title: fire_dispatch_tracts.csv, ID: 1psGrpBmGmNHPwM4lsRyiDX9tX5cf_UsO
Title: pluto_borobox.geojson, ID: 1UGelHNCzfSwsvbqBzyBX5GkrY_PmPGdp
Title: fire_dispatch.csv, ID: 1ulJlwpaezzq_aYV6jZzRWpmXLVlpO8qu
Title: ct_box_xwalk.csv, ID: 1nW-ODlhdUFKhTYzHZQOu3CCZN87oYXel
Title: dev_permits.csv, ID: 1mH_X0bLa_a1r-hpzwz43HpC7fFcayufp
Title: all_vacate.csv, ID: 1WfnTEjOaDNEb3E2vurXS_XkxJ0J1isdN
Title: pluto_df.csv, ID: 1j2KR6Tpa4CTA0k1omVfE52UYlMBMz17o
Title: pluto_ct.csv, ID: 1ZLZZS79fi4Z0RFTNMRO6GfkNwughRuej
Title: ll84_avgenergy.csv, ID: 1NOKtbGyL3_TBSMp_eqybVaQc67t33yuo
Title: fire_vacate.csv, ID: 11LV7007TbrVlfilkSvslDewQRZ9m0F-A
Title: speculation_hpd.csv, ID: 1yf86QR6yv2Z9Q6WNINW87RASUsdHPDl6
Title: fire_tract_sum.csv, ID: 16PukYkHO7Fgtbx26vdfG2sdUfDGreUnq
Title: fire_vacate_bbl.csv, ID: 1caDnIMowquAoJuZi1tDlyEqAS4HhXiU0
Title: dob_2012_2022_v2.csv, ID: 1jZoaDMOWDgZZYdDZBIVPjElNhlvwx3IC
Title: hpd_2012_2022_v2.csv, ID: 1t0b0k8yQtYouwoeY4fWPk7JWhFX12auZ
Title: dob_2012_2022.csv, ID: 1vBwNTewjAQcDOLDWIh8ZYerUJRLYKqFs

## Calculate catchment for alarm boxes

In [ ]:
firecomp= gpd.read_file("https://services5.arcgis.com/GfwWNkhOj9bNBqoJ/arcgis/rest/services/NYC_Fire_Companies/FeatureServer/0/query?where=1=1&outFields=*&outSR=4326&f=pgeojson")
firecomp

firebat= gpd.read_file("https://services5.arcgis.com/GfwWNkhOj9bNBqoJ/arcgis/rest/services/NYC_Fire_Battalions/FeatureServer/0/query?where=1=1&outFields=*&outSR=4326&f=pgeojson")
firebat

firediv= gpd.read_file("https://services5.arcgis.com/GfwWNkhOj9bNBqoJ/arcgis/rest/services/NYC_Fire_Divisions/FeatureServer/0/query?where=1=1&outFields=*&outSR=4326&f=pgeojson")
firediv

In [ ]:
fig, ax = plt.subplots(figsize=(8, 8))
firebat.plot(ax=ax, color='#6a6a6a', edgecolor='white', linewidth=2)
firediv.plot(ax=ax, color='none', edgecolor='red')

In [ ]:
firevac= pd.read_csv("https://data.cityofnewyork.us/resource/n5xc-7jfa.csv?$limit=100000")
firevac.shape

In [ ]:
alarmbox= gpd.read_file("https://data.cityofnewyork.us/resource/v57i-gtxb.geojson?$limit=100000").to_crs(2263)

In [ ]:
fig, ax = plt.subplots(figsize=(8, 8))
firebat.to_crs(2263).plot(ax=ax, color='#6a6a6a', edgecolor='white', linewidth=2)
firediv.to_crs(2263).plot(ax=ax, color='none', edgecolor='red')
alarmbox.plot(ax=ax, color='green', markersize=0.5, alpha = 0.8)

In [ ]:
pluto.head()
#alarmbox

In [ ]:
from scipy.spatial import cKDTree
from shapely.geometry import Point

def ckdnearest(gdA, gdB):

    nA = np.array(list(gdA.geometry.apply(lambda x: (x.x, x.y))))
    nB = np.array(list(gdB.geometry.apply(lambda x: (x.x, x.y))))
    btree = cKDTree(nB)
    dist, idx = btree.query(nA, k=1)
    gdB_nearest = gdB.iloc[idx].drop(columns="geometry").reset_index(drop=True)
    gdf = pd.concat(
        [
            gdA.reset_index(drop=True),
            gdB_nearest,
            pd.Series(dist, name='dist')
        ], 
        axis=1)

    return gdf

pluto_borobox= ckdnearest(pluto, alarmbox)

In [ ]:
pluto_borobox.head()

In [ ]:
pluto_borobox.to_csv(os.join(out, "pluto_borobox.csv"))
#pluto_borobox.to_file(os.join(out, "pluto_borobox.geojson"), driver = "GeoJSON")

## Create Census Tract Weights

In [3]:
pluto_borobox = gpd.read_file(os.join(out, "pluto_borobox.geojson"))

In [53]:
plutobox_ct= pd.merge(pluto_borobox.loc[:, ["bbl", "location", "borobox", "box_type", "latitude", "longitude"]],
         pluto.loc[:, ["bbl", "tract2010"]], on = "bbl")

plutobox_ct['boroct2010']= plutobox_ct['bbl'].str[0] + plutobox_ct['tract2010'].astype(str).str.replace(".", "", regex = False).str.pad(width = 6, side = "right",
                                                                                                                      fillchar = "0")
plutobox_ct.head()

,bbl,location,borobox,box_type,latitude,longitude,tract2010,boroct2010
0,3042270037,BELMONT AVE & MILFORD ST,B1826,ERS,40.67338539,-73.87680041,1194,3119400
1,3042670001,BLAKE AVE & EUCLID AVE,B1838,ERS,40.67132686,-73.87092539,1208,3120800
2,3055400063,20 AVE & 63 ST,B2859,ERS,40.61768416,-73.98465158,0248,3024800
3,3029077506,MASPETH AVE & CONSELYEA ST,B0184,BARS,40.71551913,-73.94122766,0477,3047700
4,3055440004,15 AVE & 67 ST,B2805,ERS,40.62215491,-73.9983325,0250,3025000

In [200]:
# load acs data (to check census tract recoding)
csv = drive.CreateFile({'id': '17PvjIPesTzugausfzMi7rTiXahTiHaH1'})
csv.GetContentFile('acs_data.csv')  

acs= pd.read_csv('acs_data.csv').drop(['Unnamed: 0', 'Unnamed: 0.1'], axis = 1)
acs= acs.loc[acs['year']==2019]
acs.head()

,geofips,totpop,popdens,areasqmile,males,females,pop18under,pop18_34,pop35_64,pop65plus,...,pctnhblack,pctnhaian,pctnhasian,pctnhhawainpi,pctnhother,pctnhtwoplus,pctownerocch,pctrentocch,crowding,crowdingrenter
21721,36005000100,6864,10599.550,0.647574,6345,519,103,3322,3392,47,...,52.462121,0.262238,2.636946,0.0,0.276807,0.509907,NaN,NaN,NaN,NaN
21722,36005000200,4532,24481.190,0.185122,2193,2339,1134,862,1605,931,...,20.300088,0.000000,1.654898,0.0,1.323919,0.000000,52.459016,47.540984,11.997019,18.181818
21723,36005000400,5516,18537.140,0.297565,2810,2706,1071,1319,2362,764,...,22.915156,0.000000,2.193619,0.0,0.163162,1.341552,79.040157,20.959843,1.860921,4.906542
21724,36005001600,5825,31101.490,0.187290,2422,3403,1546,1399,1978,902,...,34.695279,0.000000,1.098712,0.0,0.858369,0.429185,12.430238,87.569762,11.415525,12.514484
21725,36005001900,3141,4877.152,0.644023,1583,1558,898,1052,1111,80,...,29.831264,0.000000,2.292264,0.0,0.700414,1.782872,10.565338,89.434662,9.638554,10.777202

In [207]:
acs['geofips_recode']= acs['geofips'].astype(str).str[2:]
acs['geofips_recode']= np.select([acs['geofips_recode'].str[0:3] == '005',
                                 acs['geofips_recode'].str[0:3] == '047',
                                 acs['geofips_recode'].str[0:3] == '061',
                                 acs['geofips_recode'].str[0:3] == '081',
                                 acs['geofips_recode'].str[0:3] == '085'],
                                ['2' + acs['geofips_recode'].str[3:],
                                '3' + acs['geofips_recode'].str[3:],
                                 '1' + acs['geofips_recode'].str[3:],
                                 '4' + acs['geofips_recode'].str[3:],
                                 '5' + acs['geofips_recode'].str[3:]])

print(acs.loc[acs['geofips_recode'].str.len() < 7, 'geofips_recode'].head())
acs.loc[acs['geofips_recode'].str.len() < 7, 'geofips_recode']= \
acs.loc[acs['geofips_recode'].str.len() < 7, 'geofips_recode'].str.pad(width = 7, fillchar = "0", side = "right")

acs[['geofips_recode', 'geofips']]

Series([], Name: geofips_recode, dtype: object)

      geofips_recode      geofips
21721        2000100  36005000100
21722        2000200  36005000200
21723        2000400  36005000400
21724        2001600  36005001600
21725        2001900  36005001900
...              ...          ...
23883        5030302  36085030302
23884        5031901  36085031901
23885        5031902  36085031902
23886        5032300  36085032300
23887        5990100  36085990100

[2167 rows x 2 columns]

In [208]:
acs.loc[(acs['geofips'].astype(str) == '36047033600'), :]

,geofips,totpop,popdens,areasqmile,males,females,pop18under,pop18_34,pop35_64,pop65plus,...,pctnhaian,pctnhasian,pctnhhawainpi,pctnhother,pctnhtwoplus,pctownerocch,pctrentocch,crowding,crowdingrenter,geofips_recode
22340,36047033600,4443,16720.04,0.265729,2185,2258,839,749,2109,746,...,0.0,7.089804,0.0,0.0,2.025658,49.618321,50.381679,4.898219,5.808081,3033600

In [209]:
# this is not true
# assert (acs["geofips"].str.len() == 9).all()
assert (acs["geofips_recode"].str.len() == 7).all()
print(acs.loc[acs["geofips"].str.len() != 9].shape[0])
acs.loc[acs["geofips"].str.len() != 9].head()

AttributeError: Can only use .str accessor with string values!

In [210]:
# merge pluto (w/ borobox and census tract to ACS data with recoded geofips var)
pluto_acs= plutobox_ct.merge(acs, left_on = "boroct2010", right_on = "geofips_recode", 
                             how = "outer",
                             indicator = True)
pluto_acs.head()

,bbl,location,borobox,box_type,latitude,longitude,tract2010,boroct2010,geofips,totpop,...,pctnhasian,pctnhhawainpi,pctnhother,pctnhtwoplus,pctownerocch,pctrentocch,crowding,crowdingrenter,geofips_recode,_merge
0,3042270037,BELMONT AVE & MILFORD ST,B1826,ERS,40.67338539,-73.87680041,1194,3119400,3.604712e+10,4892.0,...,1.287817,0.0,0.0,0.0,31.165919,68.834081,33.781764,44.082519,3119400,both
1,3040220001,BELMONT AVE & ATKINS AVE,B1804,ERS,40.67311965,-73.87864502,1194,3119400,3.604712e+10,4892.0,...,1.287817,0.0,0.0,0.0,31.165919,68.834081,33.781764,44.082519,3119400,both
2,3040220005,BELMONT AVE & ATKINS AVE,B1804,ERS,40.67311965,-73.87864502,1194,3119400,3.604712e+10,4892.0,...,1.287817,0.0,0.0,0.0,31.165919,68.834081,33.781764,44.082519,3119400,both
3,3040220006,BELMONT AVE & ATKINS AVE,B1804,ERS,40.67311965,-73.87864502,1194,3119400,3.604712e+10,4892.0,...,1.287817,0.0,0.0,0.0,31.165919,68.834081,33.781764,44.082519,3119400,both
4,3040220119,PITKIN AVE & BERRIMAN ST,B1824,ERS,40.67425552,-73.8798826,1194,3119400,3.604712e+10,4892.0,...,1.287817,0.0,0.0,0.0,31.165919,68.834081,33.781764,44.082519,3119400,both

In [212]:
# check merge results
pluto_acs["_merge"].value_counts()

both          764555
right_only        57
left_only          5
Name: _merge, dtype: int64

In [213]:
pluto_acs.loc[pluto_acs["_merge"]=="right_only", "geofips_recode"].value_counts()
# note: bronx tract 001 is Rikers Island
# i think these are ok, spot checked some--many seem like parks
# top two with population seem like rikers and part of roosevelt island?
pluto_acs.loc[pluto_acs["_merge"]=="right_only", :].sort_values('totpop', ascending = False)

,bbl,location,borobox,box_type,latitude,longitude,tract2010,boroct2010,geofips,totpop,...,pctnhasian,pctnhhawainpi,pctnhother,pctnhtwoplus,pctownerocch,pctrentocch,crowding,crowdingrenter,geofips_recode,_merge
764560,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.600500e+10,6864.0,...,2.636946,0.000000,0.276807,0.509907,NaN,NaN,NaN,NaN,2000100,right_only
764585,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.606102e+10,6086.0,...,26.043378,0.000000,0.000000,2.678278,4.954955,95.045045,9.966216,10.189573,1023802,right_only
764586,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.606102e+10,2009.0,...,3.135889,1.095072,0.000000,0.497760,NaN,NaN,NaN,NaN,1024000,right_only
764565,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.600503e+10,633.0,...,6.003160,0.000000,0.000000,1.737757,NaN,NaN,NaN,NaN,2031900,right_only
764614,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.608500e+10,588.0,...,3.061224,0.000000,1.020408,5.782313,2.209945,97.790055,8.287293,8.474576,5001800,right_only
764598,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.608104e+10,477.0,...,6.079665,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,4042600,right_only
764561,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.600500e+10,155.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,100.000000,0.000000,0.000000,2002400,right_only
764590,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.608100e+10,49.0,...,0.000000,0.000000,0.000000,0.000000,32.258065,67.741935,0.000000,0.000000,4005000,right_only
764612,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.608114e+10,39.0,...,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,4138502,right_only
764576,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.604709e+10,26.0,...,0.000000,0.000000,0.000000,0.000000,100.000000,0.000000,0.000000,NaN,3085200,right_only
764587,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.606103e+10,22.0,...,9.090909,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,1029700,right_only
764599,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.608106e+10,17.0,...,47.058824,0.000000,0.000000,0.000000,50.000000,50.000000,0.000000,0.000000,4056100,right_only
764566,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.600503e+10,15.0,...,0.000000,0.000000,0.000000,0.000000,100.000000,0.000000,0.000000,NaN,2033400,right_only
764600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.608106e+10,14.0,...,0.000000,0.000000,0.000000,0.000000,100.000000,0.000000,0.000000,NaN,4060701,right_only
764569,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.604702e+10,11.0,...,0.000000,0.000000,0.000000,0.000000,100.000000,0.000000,0.000000,NaN,3015400,right_only
764584,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.606102e+10,11.0,...,0.000000,0.000000,0.000000,0.000000,100.000000,0.000000,0.000000,NaN,1021703,right_only
764574,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.604707e+10,8.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,100.000000,0.000000,0.000000,3070202,right_only
764583,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.606101e+10,2.0,...,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,1014300,right_only
764601,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.608106e+10,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4061302,right_only
764597,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.608104e+10,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4038302,right_only
764605,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.608107e+10,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4071600,right_only
764602,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.608106e+10,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4062400,right_only
764603,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.608106e+10,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4064102,right_only
764604,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.608107e+10,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4065501,right_only
764595,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.608103e+10,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4029900,right_only
764606,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.608108e+10,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4079300,right_only
764607,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.608109e+10,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4091602,right_only
764608,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.608110e+10,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4099900,right_only
764609,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.608111e+10,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4107202,right_only
764610,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.608112e+10,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4121100,right_only
764611,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.608113e+10,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4128300,right_only
764613,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.608199e+10,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4990100,right_only
764615,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.608502e+10,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5015400,right_only
764596,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.608103e+10,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4033100,right_only
764588,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.606103e+10,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1031100,right_only
764594,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.608102e+10,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4024600,right_only
764593,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.608102e+10,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4022900,right_only
764562,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.600502e+10,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016300,right_only
764563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.600502e+10,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017100,right_only
764564,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.600502e+10,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024900,right_only
764567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.600505e+10,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2050400,right_only
764568,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.604701e+10,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3008600,right_only
764570,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.604702e+10,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3017500,right_only
764571,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.604702e+10,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3017700,right_only
764572,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.604704e+10,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3040700,right_only
764573,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.604707e+10,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3066600,right_only
764575,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.604707e+10,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3070203,right_only
764577,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.604710e+10,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3096000,right_only
764578,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.604712e+10,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3118000,right_only
764579,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.604799e+10,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3990100,right_only
764580,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.606100e+10,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000100,right_only
764581,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.606100e+10,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000500,right_only
764582,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.606101e+10,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1008602,right_only
764589,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.606103e+10,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1031900,right_only
764591,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.608101e+10,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4009900,right_only
764592,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.608101e+10,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4010701,right_only
764616,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.608599e+10,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5990100,right_only

In [215]:
pluto_acs.loc[pluto_acs["_merge"]=="left_only", "boroct2010"].value_counts().head()

4None00    2
5None00    2
2None00    1
Name: boroct2010, dtype: int64

In [216]:
acs[acs['geofips_recode'].str.contains('336')]

,geofips,totpop,popdens,areasqmile,males,females,pop18under,pop18_34,pop35_64,pop65plus,...,pctnhaian,pctnhasian,pctnhhawainpi,pctnhother,pctnhtwoplus,pctownerocch,pctrentocch,crowding,crowdingrenter,geofips_recode
21958,36005033600,6714,94303.96,0.071195,2767,3947,1777,1859,2504,574,...,0.0,3.217158,0.0,0.148943,0.000000,17.425968,82.574032,9.719058,11.770115,2033600
22340,36047033600,4443,16720.04,0.265729,2185,2258,839,749,2109,746,...,0.0,7.089804,0.0,0.000000,2.025658,49.618321,50.381679,4.898219,5.808081,3033600

In [217]:
# comparison census tracts, check it merges with comparison census tracts
ct_comp= pd.read_csv(os.join(inp, "NYC_Census_Tracts_for_2010_US_Census.csv"))
ct_comp["BoroCT2010"]= ct_comp["BoroCT2010"].astype(str)

ct_comp_merge= plutobox_ct.merge(ct_comp, left_on = "boroct2010", right_on = "BoroCT2010",
                                 how = "outer",
                                 indicator = True)
ct_comp.head()
ct_comp_merge["_merge"].value_counts()

both          764555
right_only        55
left_only          5
Name: _merge, dtype: int64

In [218]:
ct_comp.loc[ct_comp["BoroCT2010"].astype(str).str.contains('336')]

,OBJECTID,CTLabel,BoroCode,BoroName,CT2010,BoroCT2010,CDEligibil,NTACode,NTAName,PUMA,Shape__Area,Shape__Length
907,908,336.0,2,Bronx,33600,2033600,E,BX07,Bronxdale,3704,1.985238e+06,6220.861268
1882,1883,336.0,3,Brooklyn,33600,3033600,I,BK21,Seagate-Coney Island,4018,7.258682e+06,10967.801773

## Count of buildings by census tract

In [219]:
plutobox_ct_count= plutobox_ct.value_counts(['boroct2010', 'borobox']).rename('count').reset_index()
plutobox_ct_count

      boroct2010 borobox  count
0        3070201   B4116   1614
1        3033600   B3520    836
2        2051600   X4607    694
3        5020803   R4329    661
4        5017007   R3387    660
...          ...     ...    ...
18626    3031300   B1579      1
18627    3031900   B1044      1
18628    3032500   B3762      1
18629    3032700   B3762      1
18630    5None00   R4515      1

[18631 rows x 3 columns]

In [220]:
plutobox_ct_count= pd.merge(plutobox_ct_count,
         plutobox_ct_count.groupby('boroct2010', as_index = False)["count"].sum()\
         .rename({'count':'total'}, axis = 1), on = "boroct2010")
plutobox_ct_count['wgt']= plutobox_ct_count['count'].div(plutobox_ct_count['total'])

In [221]:
plutobox_ct_count

      boroct2010 borobox  count  total       wgt
0        3070201   B4116   1614   1876  0.860341
1        3070201   B3994    228   1876  0.121535
2        3070201   B4103     34   1876  0.018124
3        3033600   B3520    836    913  0.915663
4        3033600   B3522     77    913  0.084337
...          ...     ...    ...    ...       ...
18626    3008500   B3829      1      4  0.250000
18627    3035000   B3562      1      2  0.500000
18628    3035000   B3564      1      2  0.500000
18629    3035601   B3387      1      1  1.000000
18630    3025902   B0364      1      1  1.000000

[18631 rows x 5 columns]

In [222]:
## save census tract, borobox, weight crosswalk
plutobox_ct_count.to_csv(os.join(out, "ct_box_xwalk.csv"))