In [2]:
import pandas as pd

In [ ]:
# reading in data as a url from NYC Open Data
url = 'https://data.cityofnewyork.us/resource/wvxf-dwi5.json'
df = pd.read_csv(url)

df.head()

In [20]:
url_hpd = 'https://data.cityofnewyork.us/resource/wvxf-dwi5.csv?$limit=1000000'
hpd_all = pd.read_csv(url_hpd)
print(hpd_all.shape)

/Users/bayerd01/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (23) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

(1000000, 41)

In [9]:
df.columns

Index(['violationid', 'buildingid', 'registrationid', 'boroid', 'boro',
       'housenumber', 'lowhousenumber', 'highhousenumber', 'streetname',
       'streetcode', 'zip', 'apartment', 'story', 'block', 'lot', 'class',
       'inspectiondate', 'approveddate', 'originalcertifybydate',
       'originalcorrectbydate', 'newcertifybydate', 'newcorrectbydate',
       'certifieddate', 'ordernumber', 'novid', 'novdescription',
       'novissueddate', 'currentstatusid', 'currentstatus',
       'currentstatusdate', 'novtype', 'violationstatus', 'rentimpairing',
       'latitude', 'longitude', 'communityboard', 'councildistrict',
       'censustract', 'bin', 'bbl', 'nta'],
      dtype='object')

In [23]:
df2 = pd.read_csv('/Users/bayerd01/Documents/ML CITIES/Housing_Maintenance_Code_Violations.csv')

df2

/Users/bayerd01/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (10,23) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,ViolationID,BuildingID,RegistrationID,BoroID,Borough,HouseNumber,LowHouseNumber,HighHouseNumber,StreetName,StreetCode,...,ViolationStatus,RentImpairing,Latitude,Longitude,CommunityBoard,CouncilDistrict,CensusTract,BIN,BBL,NTA
0,10000197,74898,205177,2,BRONX,231,231,231,ECHO PLACE,29920,...,Open,N,40.849718,-73.904550,5.0,15.0,23502.0,2007730.0,2.028100e+09,Mount Hope
1,10000355,96334,218008,2,BRONX,2913,2913,2913,MIDDLETOWN ROAD,50920,...,Close,Y,40.843576,-73.832520,10.0,13.0,26602.0,2045974.0,2.041650e+09,Pelham Bay-Country Club-City Island
2,10000419,63911,208491,2,BRONX,109,109,109,EAST 153 STREET,26250,...,Close,N,40.823932,-73.928033,4.0,8.0,63.0,2002968.0,2.024820e+09,West Concourse
3,12838207,115654,205456,2,BRONX,1565,1565,1565,TOWNSEND AVENUE,69320,...,Close,N,40.843427,-73.914263,4.0,14.0,209.0,2008141.0,2.028460e+09,West Concourse
4,10000695,94086,207860,2,BRONX,1064,1064,1064,MANOR AVENUE,49020,...,Open,N,40.825543,-73.875585,9.0,18.0,48.0,2023565.0,2.037170e+09,Soundview-Bruckner
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7249831,9099739,287222,305039,3,BROOKLYN,1352,1352,1352,EAST NEW YORK AVENUE,38330,...,Open,N,40.669409,-73.917425,16.0,41.0,902.0,3080699.0,3.034930e+09,Brownsville
7249832,9618104,307987,366570,3,BROOKLYN,290,290,290,HARMAN STREET,47330,...,Close,N,40.699888,-73.918873,4.0,37.0,431.0,3075096.0,3.032890e+09,Bushwick North
7249833,9817995,307987,366570,3,BROOKLYN,290,290,290,HARMAN STREET,47330,...,Close,N,40.699888,-73.918873,4.0,37.0,431.0,3075096.0,3.032890e+09,Bushwick North
7249834,9992701,597256,924789,4,QUEENS,115-07,115-07,115-07,208 STREET,26190,...,Open,N,40.699644,-73.745703,13.0,27.0,53401.0,4238025.0,4.110510e+09,Cambria Heights
7249835,9990191,13995,104724,1,MANHATTAN,300,300,300,EAST 50 STREET,17990,...,Close,N,40.754720,-73.968172,6.0,4.0,98.0,1080458.0,1.013420e+09,Turtle Bay-East Midtown

In [41]:
df2.columns

Index(['ViolationID', 'BuildingID', 'RegistrationID', 'BoroID', 'Borough',
       'HouseNumber', 'LowHouseNumber', 'HighHouseNumber', 'StreetName',
       'StreetCode', 'Postcode', 'Apartment', 'Story', 'Block', 'Lot', 'Class',
       'InspectionDate', 'ApprovedDate', 'OriginalCertifyByDate',
       'OriginalCorrectByDate', 'NewCertifyByDate', 'NewCorrectByDate',
       'CertifiedDate', 'OrderNumber', 'NOVID', 'NOVDescription',
       'NOVIssuedDate', 'CurrentStatusID', 'CurrentStatus',
       'CurrentStatusDate', 'NovType', 'ViolationStatus', 'RentImpairing',
       'Latitude', 'Longitude', 'CommunityBoard', 'CouncilDistrict',
       'CensusTract', 'BIN', 'BBL', 'NTA'],
      dtype='object')

In [46]:
max(df2['InspectionDate'])

Timestamp('2022-03-20 00:00:00')

In [31]:
#convert to datetime
df2['InspectionDate']= pd.to_datetime(df2['InspectionDate'], errors='coerce')

In [48]:
df2['year'] = df2['InspectionDate'].dt.year

In [50]:
df2['year'].unique()

array([2013, 2019, 2014, 2018, 2016, 2021, 1998, 1989, 1988, 2022, 1985,
       1993, 1994, 1997, 1992, 1982, 1991, 1987, 2004, 2017, 2015, 2005,
       1999, 1986, 1996, 1984, 1990, 2006, 2020, 2007, 2008, 1995, 2009,
       2010, 1983, 2011, 1978, 1975, 1981, 1979, 2012, 1977, 2000, 2002,
       2001, 2003, 1980, 1976, 1967, 1969, 1970, 1974, 1964, 1973, 1971,
       1972, 1903, 1966, 1930, 1968, 1963, 1919, 1965, 1960, 1933, 1961,
       1939, 1959, 1909])

In [51]:
#remove incorrect dates
years = [2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022]

df2_2012_2022 = df2[df2.year.isin(years)]

df2_2012_2022

,ViolationID,BuildingID,RegistrationID,BoroID,Borough,HouseNumber,LowHouseNumber,HighHouseNumber,StreetName,StreetCode,...,RentImpairing,Latitude,Longitude,CommunityBoard,CouncilDistrict,CensusTract,BIN,BBL,NTA,year
0,10000197,74898,205177,2,BRONX,231,231,231,ECHO PLACE,29920,...,N,40.849718,-73.904550,5.0,15.0,23502.0,2007730.0,2.028100e+09,Mount Hope,2013
1,10000355,96334,218008,2,BRONX,2913,2913,2913,MIDDLETOWN ROAD,50920,...,Y,40.843576,-73.832520,10.0,13.0,26602.0,2045974.0,2.041650e+09,Pelham Bay-Country Club-City Island,2013
2,10000419,63911,208491,2,BRONX,109,109,109,EAST 153 STREET,26250,...,N,40.823932,-73.928033,4.0,8.0,63.0,2002968.0,2.024820e+09,West Concourse,2013
3,12838207,115654,205456,2,BRONX,1565,1565,1565,TOWNSEND AVENUE,69320,...,N,40.843427,-73.914263,4.0,14.0,209.0,2008141.0,2.028460e+09,West Concourse,2019
4,10000695,94086,207860,2,BRONX,1064,1064,1064,MANOR AVENUE,49020,...,N,40.825543,-73.875585,9.0,18.0,48.0,2023565.0,2.037170e+09,Soundview-Bruckner,2013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7249829,14997099,230367,360148,3,BROOKLYN,739,739,739,DE KALB AVENUE,31530,...,N,40.691917,-73.946746,3.0,36.0,261.0,3378134.0,3.017750e+09,Bedford,2022
7249832,9618104,307987,366570,3,BROOKLYN,290,290,290,HARMAN STREET,47330,...,N,40.699888,-73.918873,4.0,37.0,431.0,3075096.0,3.032890e+09,Bushwick North,2012
7249833,9817995,307987,366570,3,BROOKLYN,290,290,290,HARMAN STREET,47330,...,N,40.699888,-73.918873,4.0,37.0,431.0,3075096.0,3.032890e+09,Bushwick North,2013
7249834,9992701,597256,924789,4,QUEENS,115-07,115-07,115-07,208 STREET,26190,...,N,40.699644,-73.745703,13.0,27.0,53401.0,4238025.0,4.110510e+09,Cambria Heights,2013
7249835,9990191,13995,104724,1,MANHATTAN,300,300,300,EAST 50 STREET,17990,...,N,40.754720,-73.968172,6.0,4.0,98.0,1080458.0,1.013420e+09,Turtle Bay-East Midtown,2013

In [54]:
#all hpd violations - date filtered

df2_2012_2022.to_csv('hpd_2012_2022.csv')

In [65]:

#count of inspections per census tract
hpd_per_census_tract = df2_2012_2022[['Borough','BoroID','CensusTract', 'InspectionDate']].groupby(['Borough','BoroID','CensusTract']).agg(['count'])

In [66]:
hpd_per_census_tract

                                 InspectionDate
                                          count
Borough       BoroID CensusTract
BRONX         2      2.0                   1452
                     4.0                   2254
                     16.0                  1539
                     19.0                  3127
                     20.0                  3111
...                                         ...
STATEN ISLAND 5      29104.0                321
                     30301.0                698
                     30302.0               1033
                     31901.0                506
                     31902.0               5991

[2102 rows x 1 columns]

In [67]:
hpd_per_census_tract.to_csv('hpd_per_census_tract3.csv')

In [69]:

#count of inspections per BBL
hpd_per_BBL = df2_2012_2022[['BBL','InspectionDate']].groupby(['BBL']).agg(['count'])

In [70]:
hpd_per_BBL

             InspectionDate
                      count
BBL
0.000000e+00            134
1.000070e+09              2
1.000078e+09             34
1.000078e+09              5
1.000080e+09              7
...                     ...
5.080470e+09              1
5.080470e+09             31
5.080470e+09              2
5.080480e+09              3
5.080500e+09              4

[181643 rows x 1 columns]

In [72]:
hpd_per_BBL.to_csv('hpd_per_BBL.csv')

In [12]:
violations = ['C','B']

violations_b_c= df2[df2.Class.isin(violations)]

print(violations_b_c)

         ViolationID  BuildingID  RegistrationID  BoroID    Borough  \
1           10000355       96334          218008       2      BRONX
2           10000419       63911          208491       2      BRONX
5           10000927       81720          208238       2      BRONX
6           10000932       81720          208238       2      BRONX
7           10000660      108543          200889       2      BRONX
...              ...         ...             ...     ...        ...
5369780      9998818        3583          106834       1  MANHATTAN
5369781      9998095      101342          201824       2      BRONX
5369782      9998209      101342          201824       2      BRONX
5369783      9998243       81659          206597       2      BRONX
5369784      9998244       81659          206597       2      BRONX

        HouseNumber LowHouseNumber HighHouseNumber               StreetName  \
1              2913           2913            2913          MIDDLETOWN ROAD
2               109            109             109          EAST 153 STREET
5              1750           1750            1750          GRAND CONCOURSE
6              1750           1750            1750          GRAND CONCOURSE
7              2875           2875            2875          SEDGWICK AVENUE
...             ...            ...             ...                      ...
5369780        2400           2400            2408  ADAM C POWELL BOULEVARD
5369781        4575           4563            4575              PARK AVENUE
5369782        4575           4563            4575              PARK AVENUE
5369783        1173           1171            1175          GRAND CONCOURSE
5369784        1173           1171            1175          GRAND CONCOURSE

         StreetCode  ... ViolationStatus RentImpairing   Latitude  Longitude  \
1             50920  ...           Close             Y  40.843576 -73.832520
2             26250  ...           Close             N  40.823932 -73.928033
5             36420  ...           Close             N  40.845765 -73.910292
6             36420  ...           Close             N  40.845765 -73.910292
7             63820  ...           Close             N  40.874492 -73.901495
...             ...  ...             ...           ...        ...        ...
5369780       10610  ...           Close             N  40.818535 -73.941356
5369781       56820  ...           Close             N  40.856782 -73.893937
5369782       56820  ...           Close             N  40.856782 -73.893937
5369783       36420  ...           Close             N  40.833516 -73.918667
5369784       36420  ...           Close             N  40.833516 -73.918667

         CommunityBoard CouncilDistrict CensusTract        BIN           BBL  \
1                  10.0            13.0     26602.0  2045974.0  2.041650e+09
2                   4.0             8.0        63.0  2002968.0  2.024820e+09
5                   5.0            15.0     22901.0  2007875.0  2.028250e+09
6                   5.0            15.0     22901.0  2007875.0  2.028250e+09
7                   8.0            14.0       273.0  2015580.0  2.032530e+09
...                 ...             ...         ...        ...           ...
5369780            10.0             9.0       230.0  1060413.0  1.020260e+09
5369781             6.0            15.0     38302.0  2011213.0  2.030310e+09
5369782             6.0            15.0     38302.0  2011213.0  2.030310e+09
5369783             4.0            16.0       197.0  2002837.0  2.024630e+09
5369784             4.0            16.0       197.0  2002837.0  2.024630e+09

                                         NTA
1        Pelham Bay-Country Club-City Island
2                             West Concourse
5                                 Mount Hope
6                                 Mount Hope
7                      Van Cortlandt Village
...                                      ...
5369780    Central Harlem North-Polo Grounds
5369781                        Fordham South
5369782                        Fordham South
5369783                       West Concourse
5369784                       West Concourse

[3698880 rows x 41 columns]

In [13]:
violations_b_c

,ViolationID,BuildingID,RegistrationID,BoroID,Borough,HouseNumber,LowHouseNumber,HighHouseNumber,StreetName,StreetCode,...,ViolationStatus,RentImpairing,Latitude,Longitude,CommunityBoard,CouncilDistrict,CensusTract,BIN,BBL,NTA
1,10000355,96334,218008,2,BRONX,2913,2913,2913,MIDDLETOWN ROAD,50920,...,Close,Y,40.843576,-73.832520,10.0,13.0,26602.0,2045974.0,2.041650e+09,Pelham Bay-Country Club-City Island
2,10000419,63911,208491,2,BRONX,109,109,109,EAST 153 STREET,26250,...,Close,N,40.823932,-73.928033,4.0,8.0,63.0,2002968.0,2.024820e+09,West Concourse
5,10000927,81720,208238,2,BRONX,1750,1750,1750,GRAND CONCOURSE,36420,...,Close,N,40.845765,-73.910292,5.0,15.0,22901.0,2007875.0,2.028250e+09,Mount Hope
6,10000932,81720,208238,2,BRONX,1750,1750,1750,GRAND CONCOURSE,36420,...,Close,N,40.845765,-73.910292,5.0,15.0,22901.0,2007875.0,2.028250e+09,Mount Hope
7,10000660,108543,200889,2,BRONX,2875,2875,2875,SEDGWICK AVENUE,63820,...,Close,N,40.874492,-73.901495,8.0,14.0,273.0,2015580.0,2.032530e+09,Van Cortlandt Village
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5369780,9998818,3583,106834,1,MANHATTAN,2400,2400,2408,ADAM C POWELL BOULEVARD,10610,...,Close,N,40.818535,-73.941356,10.0,9.0,230.0,1060413.0,1.020260e+09,Central Harlem North-Polo Grounds
5369781,9998095,101342,201824,2,BRONX,4575,4563,4575,PARK AVENUE,56820,...,Close,N,40.856782,-73.893937,6.0,15.0,38302.0,2011213.0,2.030310e+09,Fordham South
5369782,9998209,101342,201824,2,BRONX,4575,4563,4575,PARK AVENUE,56820,...,Close,N,40.856782,-73.893937,6.0,15.0,38302.0,2011213.0,2.030310e+09,Fordham South
5369783,9998243,81659,206597,2,BRONX,1173,1171,1175,GRAND CONCOURSE,36420,...,Close,N,40.833516,-73.918667,4.0,16.0,197.0,2002837.0,2.024630e+09,West Concourse
5369784,9998244,81659,206597,2,BRONX,1173,1171,1175,GRAND CONCOURSE,36420,...,Close,N,40.833516,-73.918667,4.0,16.0,197.0,2002837.0,2.024630e+09,West Concourse

In [9]:
df2['Class'].unique()

array(['A', 'C', 'B', 'I'], dtype=object)

In [16]:
codes = [176,181,188, 213,222,483, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521,522,523,524,525,695, 696, 697, 698, 699,812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822]

fire_codes = violations_b_c[violations_b_c.OrderNumber.isin(codes)]

In [17]:
fire_codes

,ViolationID,BuildingID,RegistrationID,BoroID,Borough,HouseNumber,LowHouseNumber,HighHouseNumber,StreetName,StreetCode,...,ViolationStatus,RentImpairing,Latitude,Longitude,CommunityBoard,CouncilDistrict,CensusTract,BIN,BBL,NTA
19,10002544,42876,100595,1,MANHATTAN,560,558,560,WEST 160 STREET,36970,...,Close,N,40.835397,-73.942262,12.0,7.0,245.0,1062785.0,1.021180e+09,Washington Heights South
35,10004884,81720,208238,2,BRONX,1750,1750,1750,GRAND CONCOURSE,36420,...,Close,N,40.845765,-73.910292,5.0,15.0,22901.0,2007875.0,2.028250e+09,Mount Hope
49,10004912,60275,204782,2,BRONX,3230,3230,3230,CRUGER AVENUE,22920,...,Close,N,40.872255,-73.866129,12.0,15.0,374.0,2056265.0,2.045970e+09,Williamsbridge-Olinville
176,10011504,356780,308812,3,BROOKLYN,1453,1453,1453,PROSPECT PLACE,72730,...,Close,Y,40.673142,-73.928459,8.0,36.0,347.0,3036098.0,3.013610e+09,Crown Heights North
346,10025610,116930,202703,2,BRONX,2290,2290,2290,UNIVERSITY AVENUE,70620,...,Close,Y,40.860671,-73.906801,7.0,14.0,253.0,2014595.0,2.032120e+09,Kingsbridge Heights
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5360905,14832862,343523,303082,3,BROOKLYN,1402,1402,1402,NEW YORK AVENUE,64830,...,Open,N,40.638399,-73.945341,17.0,45.0,788.0,3327409.0,3.049950e+09,Flatbush
5361012,14833071,807946,344341,3,BROOKLYN,41,41,41,CLARKSON AVENUE,26630,...,Open,N,40.654936,-73.958255,9.0,40.0,79601.0,3327274.0,3.050558e+09,Prospect Lefferts Gardens-Wingate
5369351,9433385,126289,202338,2,BRONX,1418,1412,1422,ZEREGA AVENUE,79050,...,Close,N,40.837171,-73.847219,10.0,18.0,202.0,2041694.0,2.039730e+09,Westchester-Unionport
5369476,9655051,115714,204406,2,BRONX,2430,2430,2430,TRATMAN AVENUE,69520,...,Close,N,40.837955,-73.846936,10.0,18.0,202.0,2041702.0,2.039730e+09,Westchester-Unionport
5369561,9750664,640696,420165,4,QUEENS,60-11,60-11,60-11,BROADWAY,37290,...,Close,N,40.751109,-73.901804,2.0,26.0,259.0,4027128.0,4.011880e+09,Woodside

In [19]:
fire_codes['Class'].unique()

array(['B', 'C'], dtype=object)

In [6]:
dob = pd.read_csv('/Users/bayerd01/Documents/ML CITIES/DOB_Violations.csv')

dob

/Users/bayerd01/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (3,5) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,ISN_DOB_BIS_VIOL,BORO,BIN,BLOCK,LOT,ISSUE_DATE,VIOLATION_TYPE_CODE,VIOLATION_NUMBER,HOUSE_NUMBER,STREET,DISPOSITION_DATE,DISPOSITION_COMMENTS,DEVICE_NUMBER,DESCRIPTION,ECB_NUMBER,NUMBER,VIOLATION_CATEGORY,VIOLATION_TYPE
0,2552031,4,4023549.0,1085.0,00001,20210929,AEUHAZ1,00513,91-02,23 AVENUE,NaN,NaN,NaN,FAILURE TO CERTIFY CORRECTION ON IMMEDIATELY H...,35580654K,V092921AEUHAZ100513,V-DOB VIOLATION - ACTIVE,AEUHAZ1-FAIL TO CERTIFY CLASS 1
1,2336582,1,1008796.0,545.0,00015,20190405,EVCAT1,00411,726,BROADWAY,20210928.0,CIANOW CRM Violation Dismissed,1W229,VIOLATION ISSUED TO ELEVATOR - FAILURE TO FILE...,NaN,V*040519EVCAT100411,V*-DOB VIOLATION - DISMISSED,EVCAT1-ELEVATOR ANNUAL INSPECTION / TEST
2,2551982,3,3390229.0,2327.0,00037,20210929,AEUHAZ1,00464,131,NORTH 6 STREET,NaN,NaN,NaN,FAILURE TO CERTIFY CORRECTION ON IMMEDIATELY H...,39043838R,V092921AEUHAZ100464,V-DOB VIOLATION - ACTIVE,AEUHAZ1-FAIL TO CERTIFY CLASS 1
3,2513648,1,1001399.0,124.0,00004,20210302,E,9027/696734,9,PARK PL,20210929.0,PPN203 AOC SUB ON 9/23/21 BY:CENTENNIAL ...,1P15883,NaN,NaN,V*030221E9027/696734,V*-DOB VIOLATION - Resolved,E-ELEVATOR
4,2551884,3,3115549.0,5043.0,00005,20210929,AEUHAZ1,00366,1935,BEDFORD AVENUE,NaN,NaN,NaN,FAILURE TO CERTIFY CORRECTION ON IMMEDIATELY H...,35575335R,V092921AEUHAZ100366,V-DOB VIOLATION - ACTIVE,AEUHAZ1-FAIL TO CERTIFY CLASS 1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2242618,1572877,2,2008733.0,02873,00058,20110304,E,9027/375643,1419,SHAKESPEARE AVENUE,20130731.0,PVT: RESOLVED BY SATISFACTORY CAT 1 INSPECTION,002P5562,NaN,NaN,V*030411E9027/375643,V*-DOB VIOLATION - Resolved,E-ELEVATOR
2242619,1007533,1,1053367.0,01720,00054,20050131,LL6291,05025,14,MT. MORRIS PARK WEST,NaN,NaN,00813140,NaN,NaN,V013105LL629105025,V-DOB VIOLATION - ACTIVE,LL6291-LOCAL LAW 62/91 - BOILERS
2242620,475117,5,5090047.0,01161,00150,19970210,LL6291,40698,150,GRANITE AVE,20040706.0,IRICIA DISMISSED FULL PENALTY PAID $500 ...,00815916,NaN,NaN,V*021097LL629140698,V*-DOB VIOLATION - DISMISSED,LL6291-LOCAL LAW 62/91 - BOILERS
2242621,1985620,3,3010557.0,00710,00001,20150720,E,9027/550780,4014,1 AVENUE,20160727.0,PVT: SATISFIED BY SUBMISSION OF AOC FOR CAT 1 ...,003F3459,NaN,NaN,V*072015E9027/550780,V*-DOB VIOLATION - Resolved,E-ELEVATOR
2242622,201753,3,3017951.0,00916,00049,19930816,LL6291,19539,855,NaN,NaN,NaN,00023508,NaN,NaN,V081693LL629119539,V-DOB VIOLATION - ACTIVE,LL6291-LOCAL LAW 62/91 - BOILERS

In [19]:
dob.dtypes

ISN_DOB_BIS_VIOL          int64
BORO                     object
BIN                     float64
BLOCK                    object
LOT                      object
ISSUE_DATE               object
VIOLATION_TYPE_CODE      object
VIOLATION_NUMBER         object
HOUSE_NUMBER             object
STREET                   object
DISPOSITION_DATE        float64
DISPOSITION_COMMENTS     object
DEVICE_NUMBER            object
DESCRIPTION              object
ECB_NUMBER               object
NUMBER                   object
VIOLATION_CATEGORY       object
VIOLATION_TYPE           object
dtype: object

In [31]:
#convert to datetime
dob['ISSUE_DATE']= pd.to_datetime(dob['ISSUE_DATE'], format='%Y%m%d', errors='coerce')

In [32]:
dob

,ISN_DOB_BIS_VIOL,BORO,BIN,BLOCK,LOT,ISSUE_DATE,VIOLATION_TYPE_CODE,VIOLATION_NUMBER,HOUSE_NUMBER,STREET,DISPOSITION_DATE,DISPOSITION_COMMENTS,DEVICE_NUMBER,DESCRIPTION,ECB_NUMBER,NUMBER,VIOLATION_CATEGORY,VIOLATION_TYPE
0,2552031,4,4023549.0,1085.0,00001,2021-09-29,AEUHAZ1,00513,91-02,23 AVENUE,NaN,NaN,NaN,FAILURE TO CERTIFY CORRECTION ON IMMEDIATELY H...,35580654K,V092921AEUHAZ100513,V-DOB VIOLATION - ACTIVE,AEUHAZ1-FAIL TO CERTIFY CLASS 1
1,2336582,1,1008796.0,545.0,00015,2019-04-05,EVCAT1,00411,726,BROADWAY,20210928.0,CIANOW CRM Violation Dismissed,1W229,VIOLATION ISSUED TO ELEVATOR - FAILURE TO FILE...,NaN,V*040519EVCAT100411,V*-DOB VIOLATION - DISMISSED,EVCAT1-ELEVATOR ANNUAL INSPECTION / TEST
2,2551982,3,3390229.0,2327.0,00037,2021-09-29,AEUHAZ1,00464,131,NORTH 6 STREET,NaN,NaN,NaN,FAILURE TO CERTIFY CORRECTION ON IMMEDIATELY H...,39043838R,V092921AEUHAZ100464,V-DOB VIOLATION - ACTIVE,AEUHAZ1-FAIL TO CERTIFY CLASS 1
3,2513648,1,1001399.0,124.0,00004,2021-03-02,E,9027/696734,9,PARK PL,20210929.0,PPN203 AOC SUB ON 9/23/21 BY:CENTENNIAL ...,1P15883,NaN,NaN,V*030221E9027/696734,V*-DOB VIOLATION - Resolved,E-ELEVATOR
4,2551884,3,3115549.0,5043.0,00005,2021-09-29,AEUHAZ1,00366,1935,BEDFORD AVENUE,NaN,NaN,NaN,FAILURE TO CERTIFY CORRECTION ON IMMEDIATELY H...,35575335R,V092921AEUHAZ100366,V-DOB VIOLATION - ACTIVE,AEUHAZ1-FAIL TO CERTIFY CLASS 1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2242618,1572877,2,2008733.0,02873,00058,2011-03-04,E,9027/375643,1419,SHAKESPEARE AVENUE,20130731.0,PVT: RESOLVED BY SATISFACTORY CAT 1 INSPECTION,002P5562,NaN,NaN,V*030411E9027/375643,V*-DOB VIOLATION - Resolved,E-ELEVATOR
2242619,1007533,1,1053367.0,01720,00054,2005-01-31,LL6291,05025,14,MT. MORRIS PARK WEST,NaN,NaN,00813140,NaN,NaN,V013105LL629105025,V-DOB VIOLATION - ACTIVE,LL6291-LOCAL LAW 62/91 - BOILERS
2242620,475117,5,5090047.0,01161,00150,1997-02-10,LL6291,40698,150,GRANITE AVE,20040706.0,IRICIA DISMISSED FULL PENALTY PAID $500 ...,00815916,NaN,NaN,V*021097LL629140698,V*-DOB VIOLATION - DISMISSED,LL6291-LOCAL LAW 62/91 - BOILERS
2242621,1985620,3,3010557.0,00710,00001,2015-07-20,E,9027/550780,4014,1 AVENUE,20160727.0,PVT: SATISFIED BY SUBMISSION OF AOC FOR CAT 1 ...,003F3459,NaN,NaN,V*072015E9027/550780,V*-DOB VIOLATION - Resolved,E-ELEVATOR
2242622,201753,3,3017951.0,00916,00049,1993-08-16,LL6291,19539,855,NaN,NaN,NaN,00023508,NaN,NaN,V081693LL629119539,V-DOB VIOLATION - ACTIVE,LL6291-LOCAL LAW 62/91 - BOILERS

In [34]:
min(dob['ISSUE_DATE'])

Timestamp('1901-12-15 00:00:00')

In [38]:
#create year column
dob['year'] = dob['ISSUE_DATE'].dt.year

In [40]:
max(dob['year'])

2230.0

In [41]:
#remove incorrect dates
years2 = [2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022]

dob_2012_2022 = dob[dob.year.isin(years2)]

dob_2012_2022

,ISN_DOB_BIS_VIOL,BORO,BIN,BLOCK,LOT,ISSUE_DATE,VIOLATION_TYPE_CODE,VIOLATION_NUMBER,HOUSE_NUMBER,STREET,DISPOSITION_DATE,DISPOSITION_COMMENTS,DEVICE_NUMBER,DESCRIPTION,ECB_NUMBER,NUMBER,VIOLATION_CATEGORY,VIOLATION_TYPE,year
0,2552031,4,4023549.0,1085.0,00001,2021-09-29,AEUHAZ1,00513,91-02,23 AVENUE,NaN,NaN,NaN,FAILURE TO CERTIFY CORRECTION ON IMMEDIATELY H...,35580654K,V092921AEUHAZ100513,V-DOB VIOLATION - ACTIVE,AEUHAZ1-FAIL TO CERTIFY CLASS 1,2021.0
1,2336582,1,1008796.0,545.0,00015,2019-04-05,EVCAT1,00411,726,BROADWAY,20210928.0,CIANOW CRM Violation Dismissed,1W229,VIOLATION ISSUED TO ELEVATOR - FAILURE TO FILE...,NaN,V*040519EVCAT100411,V*-DOB VIOLATION - DISMISSED,EVCAT1-ELEVATOR ANNUAL INSPECTION / TEST,2019.0
2,2551982,3,3390229.0,2327.0,00037,2021-09-29,AEUHAZ1,00464,131,NORTH 6 STREET,NaN,NaN,NaN,FAILURE TO CERTIFY CORRECTION ON IMMEDIATELY H...,39043838R,V092921AEUHAZ100464,V-DOB VIOLATION - ACTIVE,AEUHAZ1-FAIL TO CERTIFY CLASS 1,2021.0
3,2513648,1,1001399.0,124.0,00004,2021-03-02,E,9027/696734,9,PARK PL,20210929.0,PPN203 AOC SUB ON 9/23/21 BY:CENTENNIAL ...,1P15883,NaN,NaN,V*030221E9027/696734,V*-DOB VIOLATION - Resolved,E-ELEVATOR,2021.0
4,2551884,3,3115549.0,5043.0,00005,2021-09-29,AEUHAZ1,00366,1935,BEDFORD AVENUE,NaN,NaN,NaN,FAILURE TO CERTIFY CORRECTION ON IMMEDIATELY H...,35575335R,V092921AEUHAZ100366,V-DOB VIOLATION - ACTIVE,AEUHAZ1-FAIL TO CERTIFY CLASS 1,2021.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2242610,2155772,4,4209845.0,09808,00014,2017-03-08,AEUHAZ1,00475,91-17,172 STREET,20171010.0,"JTR INV 13284096 PAID ON OCTOBER 6, 2017",NaN,FAILURE TO CERTIFY CORRECTION ON IMMEDIATELY H...,35164577N,V*030817AEUHAZ100475,V*-DOB VIOLATION - DISMISSED,AEUHAZ1-FAIL TO CERTIFY CLASS 1,2017.0
2242612,1685835,1,1028670.0,01126,00029,2012-06-13,AEUHAZ1,00050,135,CENTRAL PARK WEST,20140228.0,PAID 12609845,NaN,FAILURE TO CERTIFY CORRECTION ON IMMEDIATELY H...,38221077Y,V*061312AEUHAZ100050,V*-DOB VIOLATION - DISMISSED,AEUHAZ1-FAIL TO CERTIFY CLASS 1,2012.0
2242613,1919692,2,2049375.0,04317,00040,2014-12-21,E,9027/531377,2185,BOLTON STREET,20150713.0,PVT: SATISFIED BY SUBMISSION OF AOC FOR CAT 1 ...,002P1656,NaN,NaN,V*122114E9027/531377,V*-DOB VIOLATION - Resolved,E-ELEVATOR,2014.0
2242615,2437373,2,2013811.0,03167,00001,2020-01-03,E,9027/668797,2501,GRAND CONCOURSE,20210304.0,PPN203 AOC SUB 020521 BY ARROW ELEV INC ...,2W12112,NaN,NaN,V*010320E9027/668797,V*-DOB VIOLATION - Resolved,E-ELEVATOR,2020.0
2242621,1985620,3,3010557.0,00710,00001,2015-07-20,E,9027/550780,4014,1 AVENUE,20160727.0,PVT: SATISFIED BY SUBMISSION OF AOC FOR CAT 1 ...,003F3459,NaN,NaN,V*072015E9027/550780,V*-DOB VIOLATION - Resolved,E-ELEVATOR,2015.0

In [43]:
max(dob_2012_2022['ISSUE_DATE'])

Timestamp('2022-03-26 00:00:00')

In [44]:
#all dob violations - date filtered

dob_2012_2022.to_csv('dob_2012_2022.csv')