<a href="https://colab.research.google.com/github/jennahgosciak/nyc_fire_risk/blob/main/00_data_processing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# setup
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt 
import requests
import calendar
import geopandas as gpd
import os.path as os
import scipy.stats
import seaborn.palettes
import seaborn.utils
import sys
from census import Census
from us import states
import http.client, urllib.request, urllib.parse, urllib.error, base64
import config

root= r"C:/Users/Jennah/Desktop/Code/machine-learning-final"
inp= os.join(root, "data", "1_raw")
out= os.join(root, "data", "2_intermediate")

# Estimating Fires in NYC

## Load data on fire dispatch events
* Only structural fires are included

In [2]:
# load data on all fire dispate events for structural fires
url_fire_ev = 'https://data.cityofnewyork.us/resource/8m42-w767.csv?$limit=1000000&$where=INCIDENT_CLASSIFICATION_GROUP="Structural%20Fires"'
fire_ev = pd.read_csv(url_fire_ev)
print(fire_ev.shape)

# if false, then we might not have downloaded all data
print(fire_ev.shape[0])
assert fire_ev.shape[0] < 1000000

(456376, 29)
456376

In [3]:
# create month, date, and year variables
fire_ev["incident_date"]= pd.to_datetime(fire_ev["incident_datetime"]).dt.date
fire_ev["incident_month"]= pd.to_datetime(fire_ev["incident_datetime"]).dt.month
fire_ev["incident_day"]= pd.to_datetime(fire_ev["incident_datetime"]).dt.day
fire_ev["incident_year"]= pd.to_datetime(fire_ev["incident_datetime"]).dt.year

fire_ev["incident_md"]= fire_ev[["incident_month", "incident_day"]].astype(str).apply('-'.join, 1)
print("\nFire events by year")
fire_ev["incident_year"].value_counts().sort_index()

Fire events by year

2005    31247
2006    30546
2007    30651
2008    29163
2009    28753
2010    28961
2011    27595
2012    27908
2013    25097
2014    26531
2015    27403
2016    27442
2017    28259
2018    27119
2019    26154
2020    25035
2021     8512
Name: incident_year, dtype: int64

In [4]:
fire_ev.head()

,starfire_incident_id,incident_datetime,alarm_box_borough,alarm_box_number,alarm_box_location,incident_borough,zipcode,policeprecinct,citycouncildistrict,communitydistrict,...,incident_response_seconds_qy,incident_travel_tm_seconds_qy,engines_assigned_quantity,ladders_assigned_quantity,other_units_assigned_quantity,incident_date,incident_month,incident_day,incident_year,incident_md
0,5.001924e+14,2005-01-01T00:07:32.000,QUEENS,9237,N/SVC RD H. HARDING EXPY & 99 ST,QUEENS,11368.0,110.0,21.0,404.0,...,338,236,3,2,2,2005-01-01,1,1,2005,1-1
1,5.001149e+14,2005-01-01T00:14:40.000,MANHATTAN,1493,BWAY & W125 ST\M.L.KING JR BLVD,MANHATTAN,10027.0,26.0,7.0,109.0,...,266,217,2,2,1,2005-01-01,1,1,2005,1-1
2,5.001088e+14,2005-01-01T00:16:29.000,MANHATTAN,878,2 AVE & 53 ST,MANHATTAN,10022.0,17.0,4.0,106.0,...,298,220,5,4,6,2005-01-01,1,1,2005,1-1
3,5.001088e+14,2005-01-01T00:16:29.000,MANHATTAN,878,2 AVE & 53 ST,MANHATTAN,10022.0,17.0,4.0,106.0,...,298,220,5,4,6,2005-01-01,1,1,2005,1-1
4,5.001065e+14,2005-01-01T00:24:58.000,BROOKLYN,653,LAFAYETTE & CLASSON AVES,BROOKLYN,11238.0,79.0,35.0,303.0,...,226,189,3,2,1,2005-01-01,1,1,2005,1-1

In [5]:
## save file in output folder
fire_ev.to_csv(os.join(out, "fire_dispatch.csv"))

# Load data on vacate orders from HPD, due to fire
## From January 1st, 2017 through the present

* Order to repair/vacate orders: https://data.cityofnewyork.us/resource/tb8q-a3ar
* Fire Department building vacate list: https://data.cityofnewyork.us/resource/n5xc-7jfa
* Future work: combine old and new vacate orders? First dataset only has 93 records

In [6]:
url_vac_old = 'https://data.cityofnewyork.us/resource/n5xc-7jfa.csv?$limit=1000000'
vac_old = pd.read_csv(url_vac_old)
print("Size of data:", vac_old.shape)
# format date variable
vac_old["vac_date_orig"]= vac_old["vac_date"].copy()
vac_old["vac_date"]= pd.to_datetime(vac_old["vac_date"]).dt.date
vac_old["vac_year"]= pd.to_datetime(vac_old["vac_date"]).dt.year
# sort data
vac_old.sort_values("vac_year", ascending = True).head()

Size of data: (93, 19)

,vac_date,num,pf,location_1,typ,sf,bor,date_of_lif,area_vac,div,...,latitude,longitude,community_board,community_council,census_tract,bin,bbl,nta,vac_date_orig,vac_year
0,2008-05-19,1234,NaN,INTERVALE,AVE,NaN,BX,NaN,ENTIRE BLDG,6,...,40.828940,-73.894516,3.0,17.0,125.0,2010459.0,2.029740e+09,Morrisania-Melrose ...,5/19/2008,2008
1,2008-05-31,1556,NaN,PARKER,ST,NaN,BX,NaN,BASEMENT,6,...,40.838231,-73.850162,10.0,18.0,202.0,2041683.0,2.039720e+09,Westchester-Unionport ...,5/31/2008,2008
2,2009-03-17,1420,NaN,CROTONA,AVE,NaN,BX,NaN,ENTIRE BUILDING,6,...,40.834290,-73.898082,3.0,16.0,151.0,2009823.0,2.029370e+09,Morrisania-Melrose ...,3/17/2009,2009
3,2009-07-03,414,E,140,ST,NaN,BX,NaN,3rd floor and one room 2nd floor,6,...,40.810042,-73.921112,1.0,8.0,39.0,2000289.0,2.022840e+09,Mott Haven-Port Morris ...,7/3/2009,2009
13,2010-12-09,1443,NaN,TAYLOR,AVE,NaN,BX,NaN,BASEMENT FRONT,7,...,40.836275,-73.866172,9.0,18.0,218.0,2028224.0,2.038990e+09,West Farms-Bronx River ...,12/9/2010,2010

In [15]:
# load ALL vacate orders
url_vac_all = 'https://data.cityofnewyork.us/resource/tb8q-a3ar.csv?$limit=1000000'
vac_all = pd.read_csv(url_vac_all)
print(vac_all.shape)

# if false, then we might not have downloaded all data
print(vac_all.shape[0])
assert vac_all.shape[0] < 1000000
vac_all.to_csv(os.join(out, "all_vacate.csv"))

(5782, 20)
5782

In [16]:
# load vacate orders
url_vac = 'https://data.cityofnewyork.us/resource/tb8q-a3ar.csv?$limit=1000000&$where=primary_vacate_reason="Fire%20Damage"'
vac = pd.read_csv(url_vac)
print(vac.shape)

# if false, then we might not have downloaded all data
print(vac.shape[0])
assert vac.shape[0] < 1000000

(2904, 20)
2904

In [17]:
# create date, month, and year variables
vac["vacate_effective_date2"]= pd.to_datetime(vac["vacate_effective_date"]).dt.date
vac["vacate_effective_month"]= pd.to_datetime(vac["vacate_effective_date"]).dt.month
vac["vacate_effective_day"]= pd.to_datetime(vac["vacate_effective_date"]).dt.day
vac["vacate_effective_year"]= pd.to_datetime(vac["vacate_effective_date"]).dt.year

vac["vacate_effective_md"]= vac[["vacate_effective_month", "vacate_effective_day"]].astype(str).apply('-'.join, 1)

In [9]:
# number of fires per year
vac["vacate_effective_year"].value_counts().sort_index()

2012    283
2013    299
2014    250
2015    253
2016    241
2017    311
2018    312
2019    296
2020    274
2021    314
2022     71
Name: vacate_effective_year, dtype: int64

In [18]:
## save file in output folder
vac.to_csv(os.join(out, "fire_vacate.csv"))

## Load PLUTO

In [ ]:
## load pluto
pluto= gpd.read_file(os.join(inp, "nyc_mappluto_21v4_shp/MapPLUTO.shp"))
usecols = ["borough", "bbl", "cd", "ct2010", "zipcode", "address", "bldgclass", "landuse", "ownertype", "ownername",
           "lotarea", "bldgarea", "numbldgs", "numfloors", "unitsres", "unitstotal", "assessland", "assesstot",\
           "exempttot", "yearbuilt", "yearalter1", "yearalter2", "sanborn"]
pluto_df= pd.read_csv(os.join(inp, "nyc_pluto_21v4_csv/pluto_21v4.csv"),
                      usecols = usecols)
pluto_df.head()

In [ ]:
# merge to pluto
vac_pluto= pluto.merge(vac, how = "inner", right_on = "bbl", left_on = "BBL")
vac_pluto.head()

In [ ]:
# left join from pluto to capture all properties
# use df for space constraints
vac_pluto_df= pluto_df.merge(vac, how = "left", right_on = "bbl", left_on = "bbl", indicator = True)
print(vac_pluto_df["_merge"].value_counts())

# create indicator of fire vacancy based on indicator
vac_pluto_df["vacate_ind"]= np.where(
            vac_pluto_df["_merge"]=="both", 1, 0)

print("\nTab of outcome var (vacate ind)")
print(vac_pluto_df[["vacate_ind", "_merge"]].value_counts())
vac_pluto_df.drop("_merge", axis = 1, inplace = True)

In [ ]:
# save output to intermediate file
# create pluto and vacate orders
vac_pluto_df.to_csv(os.join(out, "vac_pluto.csv"))

## Load data on electricity and water usage
* [2020 data](https://data.cityofnewyork.us/resource/usc3-8zwd.csv)
* [2019 data](https://data.cityofnewyork.us/resource/wcm8-aq5w.csv)
* [2018 data](https://data.cityofnewyork.us/resource/4tys-3tzj.csv)
* [2017 data](https://data.cityofnewyork.us/resource/4t62-jm4m.csv)

In [46]:
# store urls
url_2020= "https://data.cityofnewyork.us/resource/usc3-8zwd.csv?$limit=100000"
url_2019= "https://data.cityofnewyork.us/resource/wcm8-aq5w.csv?$limit=100000"
url_2018= "https://data.cityofnewyork.us/resource/4tys-3tzj.csv?$limit=100000"
url_2017= "https://data.cityofnewyork.us/resource/4t62-jm4m.csv?$limit=100000"

# load and append data from each year
urls= [url_2017, url_2018, url_2019, url_2020]
cols= [["property_id", "year_ending",\
                                      "property_name", "nyc_borough_block_and_lot",\
                                      "occupancy", "year_built", "number_of_buildings",\
                                       "water_use_all_water_sources", "multifamily_housing_number",\
                                        "multifamily_housing_total"],\
      ["property_id", "year_ending",\
                                      "property_name", "nyc_borough_block_and_lot",\
                                      "occupancy", "year_built", "number_of_buildings",\
                                       "water_use_all_water_sources", "multifamily_housing_number",\
                                        "multifamily_housing_total"],\
      ["property_id", "year_ending",\
                                      "property_name", "nyc_borough_block_and_lot",\
                                      "occupancy", "year_built", "number_of_buildings",\
                                       "water_use_all_water_sources", "multifamily_housing_number",\
                                        "multifamily_housing_total"],\
      ["property_id", "year_ending",\
                                      "property_name", "nyc_borough_block_and_lot_bbl",\
                                      "occupancy", "year_built", "number_of_buildings",\
                                       "water_use_all_water_sources_kgal", "multifamily_housing_number_of_bedrooms",\
                                        "multifamily_housing_total_number_of_residential_living_units"]]
# read in all data files using lc, combine across the rows
dfs= [pd.read_csv(urls[i], usecols = cols[i]) for i in range(0, 4)]
dfs

[       property_id              year_ending  \
 0          4593574  2017-12-31T00:00:00.000
 1          6224375  2017-12-31T00:00:00.000
 2          2967701  2017-12-31T00:00:00.000
 3          4898531  2017-12-31T00:00:00.000
 4          2917939  2017-12-31T00:00:00.000
 ...            ...                      ...
 34681      4047752  2017-12-31T00:00:00.000
 34682      6682473  2017-12-31T00:00:00.000
 34683      6682474  2017-12-31T00:00:00.000
 34684      6682477  2017-12-31T00:00:00.000
 34685      2819133  2017-12-31T00:00:00.000

                                 property_name  nyc_borough_block_and_lot  \
 0                       The Argonaut Building                 1010287502
 1                             Operative Cakes  2-00560-0062;2-05560-0062
 2              Cathedral Preparatory Seminary               4-01872-0007
 3                             The Nomad Hotel               1-00829-0050
 4                      10 West 27 Street Corp               1-00828-0053
 ...                                       ...                        ...
 34681               Coney Island Self Storage               3-07018-0018
 34682      Mitchell Hill- 2802 Clarendon Road               3-05194-0001
 34683      Mitchell Hill- 1116 Carroll Street               3-01288-0038
 34684  Mitchell Hill- 3033 Brighton 13 Street               3-08716-0085
 34685        The Ritz Tower - 465 Park Avenue               1-01312-7502

        year_built  number_of_buildings  occupancy  multifamily_housing_number  \
 0            1909                    1         95                         NaN
 1            1973                    2        100                         NaN
 2            1963                    1        100                         NaN
 3            1999                    1         85                         NaN
 4            1994                    1        100                         NaN
 ...           ...                  ...        ...                         ...
 34681        2008                    1         80                         NaN
 34682        1931                    1        100                        76.0
 34683        1925                    1        100                        86.0
 34684        1926                    1        100                        82.0
 34685        1910                    1        100                       189.0

        multifamily_housing_total  water_use_all_water_sources
 0                            NaN                       3635.5
 1                            NaN                        116.0
 2                            NaN                        102.9
 3                            NaN                      10762.6
 4                            NaN                        790.1
 ...                          ...                          ...
 34681                        NaN                         34.1
 34682                       38.0                     295851.5
 34683                       43.0                     283262.5
 34684                       41.0                     451795.0
 34685                       99.0                       7118.2

 [34686 rows x 10 columns],
        property_id                        property_name  \
 0             7365                                 1155
 1             8139                                  200
 2             8604                                  114
 3             8841                                  733
 4            11809                  Conde Nast Building
 ...            ...                                  ...
 25240      7538695  91 Davis Avenue and 102 Bard Avenue
 25241      7538696                           Polyclinic
 25242      7538772                        1080 Holdings
 25243      7538791               Child1_Manhattan Beach
 25244      7538802               Child2_Manhattan Beach

                    year_ending   nyc_borough_block_and_lot  year_built  \
 0      2018-12-31T00:00:00.000                  1009970029        1982
 1      2018-12-31T00:00:00.000                  1013150001        1956
 2      2018-12-31T00:00:00.000                  1009990019        1989
 3      2018-12-31T00:00:00.000                  1013190047        1961
 4      2018-12-31T00:00:00.000                  1009950005        1999
 ...                        ...                         ...         ...
 25240  2018-12-31T00:00:00.000  5-00138-0258; 5-00138-0100        1961
 25241  2018-12-31T00:00:00.000                1-01041-0011        1965
 25242  2018-12-31T00:00:00.000                  4035410023        2018
 25243  2018-12-31T00:00:00.000                     3871927        1978
 25244  2018-12-31T00:00:00.000                     3871973        1978

        number_of_buildings  occupancy multifamily_housing_number  \
 0                        1         40              Not Available
 1                        1        100              Not Available
 2                        1         95              Not Available
 3                        1        100              Not Available
 4                        1        100              Not Available
 ...                    ...        ...                        ...
 25240                    6        100                        118
 25241                    1         95                        264
 25242                    1        100              Not Available
 25243                    1        100                         86
 25244                    1        100                         64

       multifamily_housing_total water_use_all_water_sources
 0                 Not Available               Not Available
 1                 Not Available                      7252.6
 2                 Not Available               Not Available
 3                 Not Available               Not Available
 4                 Not Available               Not Available
 ...                         ...                         ...
 25240                        66                      2905.4
 25241                       153                     10544.7
 25242             Not Available               Not Available
 25243                        86               Not Available
 25244                        64               Not Available

 [25245 rows x 10 columns],
        property_id          property_name              year_ending  \
 0             7365                   1155  2019-12-31T00:00:00.000
 1             8139                    200  2019-12-31T00:00:00.000
 2             8604                    114  2019-12-31T00:00:00.000
 3             8841                    733  2019-12-31T00:00:00.000
 4            11809    Conde Nast Building  2019-12-31T00:00:00.000
 ...            ...                    ...                      ...
 29079     14308553        30-33 32 Street  2019-12-31T00:00:00.000
 29080     14315113  Kaled: 82-16 34th Ave  2019-12-31T00:00:00.000
 29081     14359386       4370 Park Avenue  2019-12-31T00:00:00.000
 29082     14365370                Wallace  2019-12-31T00:00:00.000
 29083     14365371                 Barnes  2019-12-31T00:00:00.000

       nyc_borough_block_and_lot  year_built  number_of_buildings  occupancy  \
 0                    1009970029        1982                    1         55
 1                    1013150001        1956                    1        100
 2                    1009990019        1989                    1         95
 3                    1013190047        1961                    1        100
 4                    1009950005        1999                    1        100
 ...                         ...         ...                  ...        ...
 29079                4006160024        1917                    1         90
 29080                4014430006        1930                    1        100
 29081                2030360022        1900                    1        100
 29082                2043520010        1950                    1        100
 29083                2043520010        1950                    1        100

       multifamily_housing_number multifamily_housing_total  \
 0                  Not Available             Not Available
 1                  Not Available             Not Available
 2                  Not Available             Not Available
 3                  Not Available             Not Available
 4                  Not Available             Not Available
 ...                          ...                       ...
 29079                         60                        39
 29080                         48                        48
 29081              Not Available             Not Available
 29082                         40                        30
 29083                         50                        31

       water_use_all_water_sources
 0                   Not Available
 1                          7310.6
 2                   Not Available
 3                   Not Available
 4                   Not Available
 ...                           ...
 29079                      1493.9
 29080                      1822.1
 29081                      1606.7
 29082               Not Available
 29083               Not Available

 [29084 rows x 10 columns],
        property_id                                      property_name  \
 0             7365                                               1155
 1             8139                                                200
 2             8604                                                114
 3             8841                                                733
 4            11809                                Conde Nast Building
 ...            ...                                                ...
 28062     17286197  ACF - 129th St Residence - 109 West 129th St: ...
 28063     17298485                           110-31 Merrick Boulevard
 28064     17298486                          110-31A Merrick Boulevard
 28065     17321529                                 402 EAST 78 STREET
 28066     17333571                               110-31B Merrick Blvd

                    year_ending nyc_borough_block_and_lot_bbl  year_built  \
 0      2020-12-31T00:00:00.000                    1009970029        1982
 1      2020-12-31T00:00:00.000                    1013150001        1956
 2      2020-12-31T00:00:00.000                    1009990019        1989
 3      2020-12-31T00:00:00.000                    1013190047        1961
 4      2020-12-31T00:00:00.000                    1009950005        1999
 ...                        ...                           ...         ...
 28062  2020-12-31T00:00:00.000                  1-01914-0026        1920
 28063  2020-12-31T00:00:00.000                    4102700059        1997
 28064  2020-12-31T00:00:00.000                    4102700047        1997
 28065  2020-12-31T00:00:00.000                    1014720046        1910
 28066  2020-12-31T00:00:00.000                    4102700057        1997

        number_of_buildings  occupancy multifamily_housing_number_of_bedrooms  \
 0                        1         55                          Not Available
 1                        1        100                          Not Available
 2                        1         95                          Not Available
 3                        1        100                          Not Available
 4                        1        100                          Not Available
 ...                    ...        ...                                    ...
 28062                    1        100                          Not Available
 28063                    1        100                          Not Available
 28064                    1        100                          Not Available
 28065                    1        100                                     52
 28066                    1        100                          Not Available

       multifamily_housing_total_number_of_residential_living_units  \
 0                                          Not Available
 1                                          Not Available
 2                                          Not Available
 3                                          Not Available
 4                                          Not Available
 ...                                                  ...
 28062                                      Not Available
 28063                                      Not Available
 28064                                      Not Available
 28065                                                 39
 28066                                      Not Available

       water_use_all_water_sources_kgal
 0                        Not Available
 1                               5025.7
 2                        Not Available
 3                        Not Available
 4                        Not Available
 ...                                ...
 28062                    Not Available
 28063                    Not Available
 28064                    Not Available
 28065                           1788.6
 28066                    Not Available

 [28067 rows x 10 columns]]

In [47]:
# make names of columns uniform
dfs[0].columns = cols[0]
dfs[1].columns = cols[0]
dfs[2].columns = cols[0]
dfs[3].columns = cols[0]

# concatenate along rows (i.e. append data from each year)
df_ew= pd.concat(dfs, axis = 0)
df_ew

,property_id,year_ending,property_name,nyc_borough_block_and_lot,occupancy,year_built,number_of_buildings,water_use_all_water_sources,multifamily_housing_number,multifamily_housing_total
0,4593574,2017-12-31T00:00:00.000,The Argonaut Building,1010287502,1909,1,95,NaN,NaN,3635.5
1,6224375,2017-12-31T00:00:00.000,Operative Cakes,2-00560-0062;2-05560-0062,1973,2,100,NaN,NaN,116.0
2,2967701,2017-12-31T00:00:00.000,Cathedral Preparatory Seminary,4-01872-0007,1963,1,100,NaN,NaN,102.9
3,4898531,2017-12-31T00:00:00.000,The Nomad Hotel,1-00829-0050,1999,1,85,NaN,NaN,10762.6
4,2917939,2017-12-31T00:00:00.000,10 West 27 Street Corp,1-00828-0053,1994,1,100,NaN,NaN,790.1
...,...,...,...,...,...,...,...,...,...,...
28062,17286197,ACF - 129th St Residence - 109 West 129th St: ...,2020-12-31T00:00:00.000,1-01914-0026,1920,1,100,Not Available,Not Available,Not Available
28063,17298485,110-31 Merrick Boulevard,2020-12-31T00:00:00.000,4102700059,1997,1,100,Not Available,Not Available,Not Available
28064,17298486,110-31A Merrick Boulevard,2020-12-31T00:00:00.000,4102700047,1997,1,100,Not Available,Not Available,Not Available
28065,17321529,402 EAST 78 STREET,2020-12-31T00:00:00.000,1014720046,1910,1,100,52,39,1788.6
28066,17333571,110-31B Merrick Blvd,2020-12-31T00:00:00.000,4102700057,1997,1,100,Not Available,Not Available,Not Available

In [48]:
# text formatting of bbl
df_ew.loc[:, "bbl"]= df_ew.iloc[:, 3].str.replace("[A-z]{1}[0-9]{3}-", "", regex = True)
df_ew.loc[:, "bbl"]= df_ew.loc[:, "bbl"].str.replace("-", "").str.replace(" ", ";")\
                        .str.replace("(?<=[0-9]{10})/", ";", regex = True)\
                        .str.replace("/", "")\
                        .str.replace(",", ";")\
                        .str.replace(":", ";")\
                        .str.replace("and", ";")\
                        .str.replace("&", ";")\
                        .str.replace("NotAvailable", "")\
                        .str.replace("multiple", "")
df_ew.loc[:, "bbl"]

0                   1010287502
1        2005600062;2055600062
2                   4018720007
3                   1008290050
4                   1008280053
                 ...
28062               1019140026
28063               4102700059
28064               4102700047
28065               1014720046
28066               4102700057
Name: bbl, Length: 117082, dtype: object

In [49]:
# need to split bbl into several columns
max_num= int(df_ew["bbl"].str.count(";").max())
df_ew[["bbl" + str(i) for i in range(0, (max_num + 1))]]= df_ew["bbl"].str.split(pat= ";", n=-1, expand = True)
df_ew[["bbl" + str(i) for i in range(0, (max_num + 1))]].head()

,bbl0,bbl1,bbl2,bbl3,bbl4,bbl5,bbl6,bbl7,bbl8,bbl9,...,bbl32,bbl33,bbl34,bbl35,bbl36,bbl37,bbl38,bbl39,bbl40,bbl41
0,1010287502,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,2005600062,2055600062,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,4018720007,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,1008290050,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,1008280053,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [50]:
# reshape and reformat bbl column
# pivot data long using melt
cols = [x for x in df_ew.columns if x not in ["bbl" + str(i) for i in range(0, max_num)] + ["bbl"]]
cols

# melt pivots data long
df_ewlong= pd.melt(df_ew.drop("bbl", axis = 1), id_vars=cols,var_name='bbl_num', value_name='bbl')
# recode comparison
print(df_ewlong[["bbl", "nyc_borough_block_and_lot"]].dropna().loc[(df_ewlong["bbl"].dropna()).map(len) > 10, :])

df_ewlong= df_ewlong[(df_ewlong["bbl"].notna()) | (df_ewlong["bbl"].isna() & \
                                                         df_ewlong["bbl_num"] == "bbl0")].drop_duplicates()

                  bbl                          nyc_borough_block_and_lot
61      0004033410037                                    0004-03341-0037
319       1005800065.                                      1-00580-0065.
2061      10193100006                                      1-01931-00006
4018      1005800065.                                      1-00580-0065.
4290      20028110024                                        20028110024
...               ...                                                ...
482954    05006200200  05-00620-0001; 05-00620-0100; 05-00620-0200; 0...
516925    30605000019  3-06050-0051; 3-06050-0059; 3-06050-00019; 3-0...
541896    30605000019    3060500051; 3060500059; 30605000019; 3060500015
569611    30605000019    3060500051; 3060500059; 30605000019; 3060500015
717118    05006200300  05-00620-0001; 05-00620-0100; 05-00620-0200; 0...

[69 rows x 2 columns]

In [51]:
# drop these values, not useful
df_ewlong= df_ewlong.drop(df_ewlong.loc[(df_ewlong["bbl"].str.len() != 10) | \
                (df_ewlong["bbl"] == "Code9Code9") | \
                (df_ewlong["bbl"] == "Not Available") | \
                (df_ewlong["bbl"] == "XXXXXXXXXX"), :].index, axis = 0)

In [52]:
# clean total housing units data
df_ewlong.loc[(df_ewlong["multifamily_housing_total"] == "0") | \
              (df_ewlong["multifamily_housing_total"] == "Not Available"), "multifamily_housing_total"]= ""
df_ewlong["multifamily_housing_total_orig"]= df_ewlong["multifamily_housing_total"].copy()
df_ewlong["multifamily_housing_total"]= pd.to_numeric(df_ewlong["multifamily_housing_total"])

df_ewlong[["multifamily_housing_total", "multifamily_housing_total_orig"]].sample(frac=0.05).value_counts()

multifamily_housing_total  multifamily_housing_total_orig
0.0                        0.0                               8
2538.9                     2538.9                            3
6980.3                     6980.3                            3
1785.1                     1785.1                            2
1473.7                     1473.7                            2
                                                            ..
2358.3                     2358.3                            1
2359.4                     2359.4                            1
2360.1                     2360.1                            1
2364.4                     2364.4                            1
4095889.9                  4095889.9                         1
Length: 3258, dtype: int64

In [53]:
# calculate water usage per unit (can also be calculated for comparison using resunits from pluto)
df_ewlong["water_num"]= pd.to_numeric(df_ewlong["water_use_all_water_sources"].str.replace("Not Available", ""))
# fill missing values with 0s
df_ewlong["pwater_num"]= df_ewlong["water_num"].div(df_ewlong["multifamily_housing_total"].astype(float), \
                                                       fill_value = 0).fillna(0)

In [54]:
# merge to pluto and main df
print(df_ewlong[["bbl","pwater_num", "water_num", "multifamily_housing_total"]].head())
# need to convert bbl to string
vac_census["bbl"]= vac_census["bbl"].astype(str).str.replace(".0", "", regex = False)
assert (vac_census["bbl"].str.len() == 10).all()
assert (df_ewlong["bbl"].str.len() == 10).all()

vac_ew= pd.merge(vac_census, df_ewlong, how = "left", on = "bbl", indicator = True)

          bbl  pwater_num  water_num  multifamily_housing_total
0  1010287502         0.0        NaN                     3635.5
1  2005600062         0.0        NaN                      116.0
2  4018720007         0.0        NaN                      102.9
3  1008290050         0.0        NaN                    10762.6
4  1008280053         0.0        NaN                      790.1

In [55]:
print(vac_ew.shape)
# check size of unmerged buildings (small buildings under 10,000 sq. ft. for gov't buildings
# and 25,000 shouldn't be merging)
print(vac_ew.loc[vac_ew["property_id"].notna(), :].shape)
print(vac_ew.loc[vac_ew["property_id"].isna(), :].shape)
print(vac_ew.loc[(vac_ew["property_id"].isna()) & \
                       (vac_ew["bldgarea"] < 25000), "bldgarea"].shape)

print("\nMerge rate:")
print(vac_ew["_merge"].value_counts())
# assert there are no values unmerged on rhs
assert vac_ew.loc[vac_ew["_merge"]=="right_only"].shape[0]==0
vac_ew.drop("_merge", axis = 1, inplace = True)

(939431, 93)
(107179, 93)
(832252, 93)
(828287,)

Merge rate:
left_only     832252
both          107179
right_only         0
Name: _merge, dtype: int64

## Load HPD Housing Code Violations
* Data saved on the [NYC Open Data Portal](https://data.cityofnewyork.us/resource/wvxf-dwi5.csv)
* Load Class C Violations (Class C are most severely hazardous)
* All violation filings since January 1st, 2017

In [57]:
import psycopg2 as psy
# load furman db
connection = psy.connect(
    host="fcdata.c7h93yqbqnvu.us-east-1.rds.amazonaws.com",
    port=5432,
    user = "furmandata",
    password = config.furman_pwd,
    database = "fcdata")
cursor = connection.cursor()

In [58]:
viol_summary= pd.read_sql("""SELECT violation_class, bbl, Count(*) FROM hpd_violations
                            WHERE inspection_date >= '2017-01-01'
                            GROUP BY violation_class, bbl;""", con=connection)
viol_summary= viol_summary.drop(viol_summary[(viol_summary["bbl"]=='0         ') | \
                                             (viol_summary["bbl"].isna())].index, axis = 0)
assert (viol_summary["bbl"].str.len() == 10).all()
viol_summary.head()

  violation_class         bbl  count
1               A  1000070038      1
2               A  1000077501     15
3               A  1000077502      1
4               A  1000080039      1
5               A  1000100033      1

In [ ]:
# convert bbl to string
viol_summary["bbl"]= viol_summary["bbl"].astype(str).str.replace(".0", "", regex = False)
viol_summary= viol_summary.rename({"count":"num_viol"}, axis = 1)

In [ ]:
# pivot data wider
viol_wide= viol_summary.pivot(index='bbl', columns='violation_class', values = 'num_viol').fillna(0).reset_index()
viol_wide.head()

In [ ]:
# check length of bbl prior to merging
assert (vac_ew["bbl"].str.len() == 10).all()
assert (viol_wide["bbl"].str.len() == 10).all()
vac_viol= pd.merge(vac_ew, viol_wide, how = "left", on = "bbl", indicator = True)
print("Merge rate:")
print(vac_viol["_merge"].value_counts())
vac_viol.drop("_merge", axis = 1, inplace = True)

In [ ]:
print("Average number of class C violations:", vac_viol["C"].mean())
print("Average number of class C violations (among buildings w fire vacate orders):", \
      vac_viol.loc[vac_viol["vacate_ind"] == 1, "C"].mean())

# replace na values with 0
viol_cols= ["A", "B", "C", "I"]
vac_viol.loc[:, viol_cols]= vac_viol.loc[:, viol_cols].fillna(0)
# rename cols
vac_viol.rename({i:j for i,j in zip(viol_cols, ["numviol_" + x for x in viol_cols])}, axis = 1, inplace = True)
vac_viol.loc[:, ["numviol_" + x for x in ["A", "B", "C", "I"]]]

## Save cleaned analytic file
* Create version of data file with only selected variables that can be used for the analysis

In [ ]:
vac_viol["pwater_num_na"]= np.where(
    vac_viol["pwater_num"].isna() | np.isinf(vac_viol["pwater_num"]) | vac_viol["pwater_num"] == 0, 1, 0)
vac_viol["pwater_num"]= np.where(
    vac_viol["pwater_num"].isna() | np.isinf(vac_viol["pwater_num"]), 0, vac_viol["pwater_num"])
print(vac_viol[["pwater_num_na", "pwater_num"]].value_counts())

analysis_vars= ["bbl", "unitsres", "yearbuilt", "medhhinc", "assessland",\
                    "crowding_ind", "pwater_num", "pwater_num_na", "exempttot", "numviol_C", "vacate_ind"]
print(vac_viol.columns)
df_analysis= vac_viol.loc[:, analysis_vars]

In [ ]:
# export
df_analysis.to_csv(os.join(root, "data/analysis_file.csv"))